<div class="bg-white shadow-lg rounded-lg overflow-hidden dark:bg-gray-600 border-2 border-gray-200 dark:border-gray-500 animHidden">
  <div class="p-4">
    <div class="flex items-center mb-2">
      <svg xmlns="http://www.w3.org/2000/svg" [class]="classes()" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="path"/>
      </svg>
      <h3 class="text-xl font-semibold text-black dark:text-white">{{ title }}</h3>
    </div>
    <p class="text-gray-700 dark:text-gray-300">
      <ng-content></ng-content>
    </p>
  </div>
</div>
