<div>
  @if (small) {
    <div class="py-4 flex space-x-4 animHidden select-none">
      <a href="https://www.linkedin.com/in/roman-lysser-063a23173/" target="_blank" rel="noopener noreferrer"
         class="text-current bg-white rounded-lg p-1 border-2 border-gray-300 hover:opacity-75 transition-opacity duration-200">
        <img src="/assets/linkedin.png" alt="LinkedIn" class="w-6 h-6">
        <span class="sr-only">LinkedIn</span>
      </a>
      <a href="mailto:roman@lysser.me"
         class="text-current bg-white rounded-lg p-1 border-2 border-gray-300 hover:opacity-75 transition-opacity duration-200">
        <img src="/assets/mail.jpg" alt="Email" class="w-6 h-6">
        <span class="sr-only">Email</span>
      </a>
      <a href="https://github.com/RomanL1" target="_blank" rel="noopener noreferrer"
         class="text-current bg-white rounded-lg p-1 border-2 border-gray-300 hover:opacity-75 transition-opacity duration-200">
        <img src="/assets/github.png" alt="GitHub" class="w-6 h-6">
        <span class="sr-only">GitHub</span>
      </a>
    </div>
  } @else {
    <div class="select-none">
      <p class="animHidden mt-4 max-w-2xl text-base md:text-xl text-gray-500 dark:text-gray-300">
        I like to Talk! Reach out to me on LinkedIn, Email me, or checkout my GitHub.
      </p>
      <div class="py-8 flex flex-col items-center space-y-6">
        <div class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
          <a href="https://www.linkedin.com/in/roman-lysser-063a23173/" target="_blank" rel="noopener noreferrer"
             class="animHidden flex items-center space-x-2 text-current bg-white dark:bg-gray-600 dark:border-gray-500 rounded-lg p-3 border-2 border-gray-300 transition duration-300 ease-in-out transform hover:scale-105 hover:opacity-75">
            <div class="text-current bg-white rounded p-1">
              <img src="/assets/linkedin.png" alt="LinkedIn" class="w-8 h-8 object-contain">
            </div>
            <span class="font-medium">Follow me on LinkedIn</span>
          </a>
          <a href="mailto:roman@lysser.me"
             class="animHidden flex items-center space-x-2 text-current bg-white dark:bg-gray-600 dark:border-gray-500 rounded-lg p-3 border-2 border-gray-300 transition duration-300 ease-in-out transform hover:scale-105 hover:opacity-75">
            <div class="text-current bg-white rounded p-1">
              <img src="/assets/mail.jpg" alt="Email" class="w-8 h-8 object-contain">
            </div>
            <span class="font-medium">Contact me via Email</span>
          </a>
          <a href="https://github.com/RomanL1" target="_blank" rel="noopener noreferrer"
             class="animHidden flex items-center space-x-2 text-current bg-white dark:bg-gray-600 dark:border-gray-500 rounded-lg p-3 border-2 border-gray-300 transition duration-300 ease-in-out transform hover:scale-105 hover:opacity-75">
            <div class="text-current bg-white rounded p-1">
              <img src="/assets/github.png" alt="GitHub" class="w-8 h-8 object-contain" >
            </div>
            <span class="font-medium">Check out my GitHub</span>
          </a>
        </div>
      </div>
    </div>
  }
</div>
