<div id="home">
  <div class="mx-auto max-w-screen-xl flex flex-col lg:flex-row items-center">
    <div class="max-w-md max-h-md flex items-center justify-center rounded-lg mb-8 lg:mb-0 px-2 sm:px-0">
      <img [src]="imagePath" alt="Roman Lysser" class="h-full w-full object-cover rounded-lg animHidden">
    </div>
    <div class="p-4 sm:p-8">
      <app-title [smallLineSep]="true">Hey there, I'm Roman</app-title>
      <div
        class="uppercase tracking-wide text-xs md:text-sm text-emerald-900 dark:text-emerald-400 font-bold animHidden">
        Software Engineer & Bachelor of Science Student
      </div>
      <p class="mt-4 max-w-2xl text-base md:text-xl text-gray-500 dark:text-gray-300 animHidden">
        I'm a software engineer and a bachelor of science student.
      </p>
      <app-social-buttons></app-social-buttons>
      <div class="mt-6">
        <a href="#contact"
           class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-emerald-900 hover:bg-emerald-700 animHidden">
          Get in touch
        </a>
      </div>
    </div>
  </div>


  <app-content title="My Professional Career">
    <app-timeline>
      <app-timeline-entry jobTitle="Software Engineer" title="Software Engineer at MySign AG"
                          timeSpanFrom="Jan 2023" timeSpanTo="Aug 2024" imageSrc="/mysign_logo.ico"
                          imageLink="https://www.mysign.ch/de/" class="delay">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Software Engineer Apprentice" title="Software Engineer Apprentice at Centris AG"
                          timeSpanFrom="Aug 2017" timeSpanTo="Jul 2021" imageSrc="/centris_logo.png"
                          imageLink="https://www.centrisag.ch/" class="delay">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </app-timeline-entry>
    </app-timeline>
  </app-content>

  <app-content title="My Education">
    <app-timeline>
      <app-timeline-entry jobTitle="Bachelor of Science Student (part time)"
                          title="Bachelor of Science, Computer Science" timeSpanFrom="Feb 2024" timeSpanTo="Present"
                          imageSrc="/hslu.ico" imageLink="https://www.hslu.ch/de-ch/informatik/studium/bachelor/"
                          class="delay">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Berufsmatura Student"
                          title="Vocational Baccalaureate, Engineering, Architecture, Life Sciences"
                          timeSpanFrom="Aug 2021" timeSpanTo="Jun 2022" imageSrc="/bbzsogr.ico" imageLink="https://bbzsogr.so.ch/"
                          class="delay">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Informatiker EFZ"
                          title="Federal VET Diploma in Information Technology, Application Engineering"
                          timeSpanFrom="Aug 2017" timeSpanTo="Jul 2021" imageSrc="/bbzsogr.ico" imageLink="https://bbzsogr.so.ch/"
                          class="delay">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </app-timeline-entry>
    </app-timeline>
  </app-content>

  <app-content title="My Skills">
<!--    <p class="text-red-500">-->
<!--      Kenntnisse aufzählen <br>-->
<!--      - Sprachen <br>-->
<!--      - Programmiersprache und Frameworks<br>-->
<!--    </p>-->

    <app-card>
      <app-card-entry title="Angular" colorClass="text-red-500" path="M13 10V3L4 14h7v7l9-11h-7z">Ich kann Angular
      </app-card-entry>
      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>
      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>
      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>
    </app-card>
  </app-content>

  <app-content title="My Interests">
<!--    <p class="text-red-500">Interessen und Hobbies aufzählen</p>-->
    <app-card>
      <app-card-entry title="Angular" colorClass="text-red-500" path="M13 10V3L4 14h7v7l9-11h-7z">Ich kann Angular
      </app-card-entry>
      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>
      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>
      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>
    </app-card>
  </app-content>

  <app-content title="Get in touch" id="contact">
    <app-social-buttons [small]="false"></app-social-buttons>
  </app-content>
</div>
