<div id="home">
  <div class="mx-auto max-w-screen-xl flex flex-col lg:flex-row items-center">
    <div class="max-w-md max-h-md flex items-center justify-center rounded-lg mb-8 lg:mb-0 px-2 sm:px-0">
      <img [src]="imagePath" alt="Roman Lysser" class="h-full w-full object-cover rounded-lg animHidden">
    </div>
    <div class="p-4 sm:p-8">
      <app-title [smallLineSep]="true">Hey there, I'm Roman</app-title>
      <div
        class="uppercase tracking-wide text-xs md:text-sm text-emerald-900 dark:text-emerald-400 font-bold animHidden">
        Software Engineer & Bachelor of Science Student
      </div>
      <p class="mt-4 max-w-2xl text-base md:text-md text-gray-500 dark:text-gray-300 animHidden">
        I'm a passionate software engineer and Bachelor of Science student. It all started with my apprenticeship as a
        software engineer at Centris AG, where I learned the basics of software development. At last I worked as a
        MySign AG, where I was responsible for the development and maintenance of the company's e-commerce applications.
        In addition to my job, I am studying part-time for a Bachelor of Science in Computer Science at
        the Lucerne University of Applied Sciences and Arts.
      </p>
      <app-social-buttons></app-social-buttons>
      <div class="mt-6">
        <a href="#contact"
           class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-emerald-900 hover:bg-emerald-700 animHidden">
          Get in touch
        </a>
      </div>
    </div>
  </div>


  <app-content title="My Professional Career">
    <app-timeline>
      <app-timeline-entry jobTitle="Software Engineer" title="Software Engineer at MySign AG"
                          timeSpanFrom="Jan 2023" timeSpanTo="Aug 2024" imageSrc="/assets/mysign_logo.ico"
                          imageLink="https://www.mysign.ch/de/" class="delay">
        At MySign AG, I had the opportunity to expand my knowledge of software development for a year and a half. MySign
        AG is known for their customizable E-Commerce solutions. My know-how in Java could be expanded and I also had
        the possibility to learn new technologies like the Ionic Framework in app development or the development of
        microservices with Apache Camel in combination with Spring Boot for the cloud. I also took on the role of
        technical project manager and was responsible for the communication between the interface partners.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Reorientation and intermediate job"
                          title="Professional reorientation and intermediate job" [imageBgWhite]="true"
                          timeSpanFrom="Nov 2022" timeSpanTo="Dec 2022" imageSrc="/assets/migros.ico"
                          imageLink="https://www.migros.ch/de" class="delay">
        After my military service, I reoriented myself and prepared for my next job. During this time I also worked as a
        temporary employee in retail at Migros Solothurn. I was interesting to see something different than software
        engineering
        and how the retail industry works.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Soldier @ Swiss Armed Forces"
                          title="Transmission soldier in the intelligence service" [imageBgWhite]="true"
                          timeSpanFrom="Jul 2022" timeSpanTo="Nov 2022" imageSrc="/assets/swiss_army.png"
                          imageLink="https://www.miljobs.ch/functions/uebermittlungssoldat"
                          class="delay">
        As a transmission soldier, I experienced the military at the recruit school in Wangen an der Aare from 4 July to
        4 November. I learned about the radio language and how to use the military radio equipment.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Software Engineer Apprentice" title="Software Engineer Apprentice at Centris AG"
                          timeSpanFrom="Aug 2017" timeSpanTo="Jul 2021" imageSrc="/assets/centris_logo.png"
                          imageLink="https://www.centrisag.ch/" class="delay">
        This is where my professional journey commenced. As an apprentice software engineer, I was afforded the
        opportunity to lay the foundations of my skillset. During this exciting period of my life, I acquired a
        comprehensive understanding of databases, object-oriented programming, and web frameworks. I was engaged in Java
        development and contributed to the creation of several web applications for the company's internal operations.
      </app-timeline-entry>
    </app-timeline>
  </app-content>

  <app-content title="My Education">
    <app-timeline>
      <app-timeline-entry jobTitle="Bachelor of Science Student (part time)"
                          title="Bachelor of Science, Computer Science" timeSpanFrom="Feb 2024" timeSpanTo="Present"
                          imageSrc="/assets/hslu.ico" imageLink="https://www.hslu.ch/de-ch/informatik/studium/bachelor/"
                          class="delay">
        In February 2024, I was eager to embark on my next significant career advancement. I am currently pursuing a
        Bachelor's Degree in Computer Science at the Lucerne University of Applied Sciences and Arts on a part-time
        basis. Having successfully completed my first semester, I am optimistic and excited about the forthcoming
        semesters. Currently I think I will head towards the major in Software Engineering & DevOps.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Berufsmatura Student"
                          title="Vocational Baccalaureate, Engineering, Architecture, Life Sciences"
                          timeSpanFrom="Aug 2021" timeSpanTo="Jun 2022" imageSrc="/assets/bbzsogr.ico"
                          imageLink="https://bbzsogr.so.ch/"
                          class="delay">
        After completing my apprenticeship, I decided to further my education by obtaining a Vocational Baccalaureate.
        During this time I learned a lot about mathematics, physics, and chemistry.
      </app-timeline-entry>
      <app-timeline-entry jobTitle="Software Engineer Apprentice"
                          title="Federal VET Diploma in Information Technology, Application Engineering"
                          timeSpanFrom="Aug 2017" timeSpanTo="Jul 2021" imageSrc="/assets/bbzsogr.ico"
                          imageLink="https://bbzsogr.so.ch/"
                          class="delay">
        During the initial eight-month period of my apprenticeship, I concurrently completed a Basic Training Year at
        the VSIA in Solothurn. The experience was highly beneficial, offering invaluable insights into the foundations
        of information technology and proficiency in methodologies such as IPERKA and the fundamentals of HERMES.
        Following the completion of the basic training year, I commenced employment at Centris AG in Solothurn. The
        vocational school curriculum was comprehensive, with a diverse range of subjects including databases,
        object-oriented programming, web frameworks, and numerous others.
      </app-timeline-entry>
    </app-timeline>
  </app-content>

  <app-content title="My Skills">
    <app-card>
      <app-card-entry title="Backend Development" imageSrc="/assets/java.png">
        Expert in Java. Developed and maintained a large Codebase. Cross-module thinking and understanding. <br>
        Proficient in express.js. Used for developing applications in school.
      </app-card-entry>
      <app-card-entry title="Frontend Web Development" imageSrc="/assets/frontend.png">
        Proficient in Angular, Vue.js. Developed and maintained apps with the Ionic Framework. <br>
        Beginner in React.js and TailwindCSS. <br>
        In general developed several private web applications with Angular using Java
        Spring Boot in the backend.
      </app-card-entry>
      <app-card-entry title="Database Technologies" imageSrc="/assets/database.svg">
        Experienced with SQL. Proficient in MongoDB. <br>
        Extending existent databases as well as creating optimal and
        normalized data structures.
      </app-card-entry>
      <app-card-entry title="Microservices" imageSrc="/assets/microservices.svg">
        Proficient in Apache Camel. Developed and maintained microservices for the cloud.
      </app-card-entry>
      <app-card-entry title="Technical project manager skills" imageSrc="/assets/tpl.svg">
        During the absence of a technical project manager I was responsible for the communication between the interface
        partners for a short time.
      </app-card-entry>
      <app-card-entry title="End 2 End Testing" imageSrc="/assets/end2end.svg">
        Proficient in Selenium Java. Maintained testing for major clients.
      </app-card-entry>
    </app-card>
  </app-content>

<!--  <app-content title="My Interests">-->
<!--    &lt;!&ndash;    <p class="text-red-500">Interessen und Hobbies aufzählen</p>&ndash;&gt;-->
<!--    <app-card>-->
<!--      <app-card-entry title="Angular" colorClass="text-red-500" path="M13 10V3L4 14h7v7l9-11h-7z">Ich kann Angular-->
<!--      </app-card-entry>-->
<!--      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>-->
<!--      <app-card-entry title="Angular">Ich kann Angular</app-card-entry>-->
<!--    </app-card>-->
<!--  </app-content>-->

  <app-content title="Get in touch" id="contact">
    <app-social-buttons [small]="false"></app-social-buttons>
  </app-content>
</div>
